#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height:100vh;
}


.app-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #421515;
}

.text-container {
  width:  90vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #a11616;
}



h1 {
  color: #f0f8b5;
  margin-bottom: 2rem;
  font-size: clamp(2rem, 5vw, 3.5rem);
  width: 90vw;
  text-align: center;
}






