.metallic-switch-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

/* Size variants */
.metalli-sm {
  --convexity: 3;
  font-size: 0.8em;
}

.metalli-m {
  --convexity: 3;
  font-size: 1em;
}

.metalli-lg {
  --convexity: 3;
  font-size: 1.25em;
}

.metalli-xlg {
  --convexity: 3;
  font-size: 1.5625em;
}

/* Base switch styles */
.metalli-switch {
  border: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

/* Full width label */
.metalli-switch + label {
  border-radius: 1.25em;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0px;
  display: block !important;
  height: 3.5em; /* Taller for text */
  margin: 0.5em 0;
  overflow: hidden;
  position: relative;
  text-align: center; /* Center text */
  vertical-align: middle;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

/* Text inside the switch */
.switch-label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe !important;
  font-family: 'adineue', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
  width: 80%;
  text-align: center;
  opacity: 0.9;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  
}


.metalli-switch + label.disabled .switch-label-text {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* Knob styles - larger for mobile */
.metalli-switch + label .on,
.metalli-switch + label .off {
  border-radius: 1.4em; /* More rounded */
  height: 2.5em; /* Larger */
  left: 0.25em;
  position: absolute;
  top: 0.25em;
  transition: left 0.25s !important;
  width: 2.5em; /* Larger */
  z-index: 3; /* Above text */
}

/* Background */
.metalli-switch + label .bg {
  --convexity: -3;
  border-radius: 1.25em;
  display: block;
  height: 2em;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.metalli-switch + label .on {
  left: calc(75% - 2.34375em);
  top: 2.5em;
}

.metalli-switch + label:active .off,
.metalli-switch:checked + label:active .on {
  left: calc(75% - 2.34375em);
  top: 0.15625em;
}

/* Adjusted for full width */
.metalli-switch:checked + label .on {
  left: calc(100% - 3.25em); /* Adjusted for larger knob */
  top: 0.25em;
}

.metalli-switch:checked + label .off {
  left: calc(75% - 2.34375em);
  top: 2.5em;
}



/* Mobile responsive */
@media (max-width: 768px) {
  .metalli-xlg + label {
    height: 2em; /* Even taller on mobile */
  }
  
  .metalli-xlg + label .bg {
    height: 2em;
  }
  
  .metalli-xlg + label .on,
  .metalli-xlg + label .off {
    height: 2em;
    width: 2em;
    border-radius: 1.75em;
  }
  
  .metalli-switch:checked + label .on {
    left: calc(100% - 3.75em);
  }
  
  .switch-label-text {
    font-size: 1.2rem;
    width: 85%;
  }
}

/* Disable hover effects on touch devices - stronger version */
@media (hover: none) and (pointer: coarse) {
  .metalli-switch + label:hover,
  .metalli-switch + label:focus,
  .metalli-switch + label:active {
    transform: none !important;
    box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0px !important;
    filter: none !important;
    scale: 1 !important;
    background: none !important;
  }
  
  .metalli-switch + label .on:hover,
  .metalli-switch + label .off:hover,
  .metalli-switch + label .bg:hover {
    transform: none !important;
    scale: 1 !important;
  }
  
  /* Also target the metallicss classes */
  .metallicss:hover {
    transform: none !important;
  }
}