/* Main wrapper */
.metallic-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Scroll container */
.metallic-scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  box-sizing: border-box;
}

.metallic-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-content {
  min-height: 100%;
}

.scrollbar-track {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  background: rgba(0,0,0,0);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 7px;
  margin: 2px;
}


.metallic-scroll-wrapper:hover .scrollbar-track {
  opacity: 1;
}


.scrollbar-thumb {
  position: absolute;
  right: 1px;
  width: 12px;
  border-radius: 6px;
  min-height: 20px;
  cursor: grab;
  transition: transform 0.1s ease, height 0.1s ease;
  transform-origin: center top;
  will-change: transform, height;
  pointer-events: auto;
  background: #ffffff;
  box-shadow: 
    0 1px 3px rgba(0,0,0,0.3),
    inset 0 1px 1px rgba(255,255,255,0.4),
    inset 0 -1px 1px rgba(0,0,0,0.2);
}

/* mobile different width */
@media (max-width: 768px) {
.scrollbar-thumb {
  width: 7px;
}
}


.scrollbar-thumb:active {
  cursor: grabbing;
}

